<form class="f-default f-checkout">
  <div class="f-default__row">
    <button {{action 'submit'}} type="submit" class="button _submit">Отправить уведомление</button>
  </div>
  <div class="f-default__row">
    {{b-textarea model=this valuePath='message' rows='4' placeholder='Текст уведомления'}}
  </div>
</form>
